main {
  display: grid;
  grid-template-columns: 25rem 1fr 28rem;
  min-height: 100vh;
}

button {
  all: unset;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
  transition: all 0.5s ease-in-out;
}

#left-pane {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 1px solid #1c7340;
  height: 100%;
  padding-top: 3rem;
}

.left-pane-text {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  margin-left: 5rem;
  margin-bottom: 1rem;
  color: #000;
}

.active-text {
  color: #1c7340;
  font-size: 1.7rem;
  margin-left: 7rem;
}

#main-pane-staff {
  height: 100%;
  margin: 2rem 5rem;
}

/*********************** MAIN PANE General **********************/

#search-bar {
  margin-bottom: 2rem;
  border: none;
  box-shadow: inset 0 0 2px #000;
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  padding-left: 1rem;
  font-size: 1.7rem;
  letter-spacing: 0.05rem;
}

#search-bar:focus {
  outline: none;
  box-shadow: inset 0 0 6px #1c7340;
}

.search-and-filter-container {
  display: flex;
  gap: 2rem;
}

#select-specialty-dropdown {
  font-size: 1.6rem;
  height: 5rem;
  border-radius: 0.5rem;
}

#select-specialty-drowpdown:focus {
  outline: 2px solid #1c7340 !important;
}


/************************ MAIN PANE Staff **********************/




#staff-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.staff-schedule {
  font-size: 1.35rem;
  padding-bottom: 0.4rem;
  color: blue;
}

.main-staff-container {
  position: relative;
  width: 100%;
  height: 30rem;
  cursor: pointer;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}



/* View Staff */




#doctor-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.main-staff-container {
  position: relative;
  width: 100%;
  height: 30rem;
  cursor: pointer;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.main-staff-container:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgb(0, 0, 0);
}



/* Staff Profile */




#heading {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #1c7340;
  margin: 2rem 0;
  font-size: 2.5rem;
}

form,
#info-container,
#info-container-view {
  min-width: 35rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #eff5f2;
  padding: 5rem;
  margin-bottom: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.input-container-view {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.pro-pic-container {
  align-items: center;
}

label {
  padding-left: 0.1rem;
  font-size: 1.3rem;
}

.info-label {
  font-weight: 600;
  font-size: 1.5rem;
}

.info-field {
  font-size: 1.5rem;
}

.text-field,
.text-area {
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 0.7rem;
}

.text-field:focus,
.text-area:focus {
  outline: 2px solid #1c7340;
}

.text-area {
  height: 5rem;
  resize: none;
  text-indent: 0;
  overflow: hidden;
  font-size: 1.5rem;
}

#label-container {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

#button-main {
  border: none;
  background-color: #1c7340;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  height: 4rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

#button-main:hover {
  cursor: pointer;
  background-color: #052b15;
}

.link-button {
  background-color: #1c7340;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  padding: 1.3rem 0;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  transition: 0.2s all ease-in-out;
}

.link-button:hover {
  background-color: #052b15;
}

#edit-profile-main,
#change-signature-main,
#view-profile-main,
#update-pass-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#edit-profile-form,
#change-signature-form,
#info-container {
  min-width: 60rem;
}

#info-container-view {
  min-width: 40rem;
}

#profile-picture {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 1rem;
  border: 3px solid #1c7340;
}

#digital-signature {
  width: 10rem;
  object-fit: cover;
  margin-top: 1rem;
}

.small-button,
.small-button:active {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.3rem;
  text-decoration: none;
  background-color: #1c7340;
  color: #fff;
  width: 7rem;
  padding: 1rem 0;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.1s ease-in-out;
}

.update-button,
.update-button:active {
  margin-top: 0;
  margin-left: 5rem;
}

.change-avatar:hover,
.small-button:hover {
  background-color: #7f7f7f;
  color: #fff;
}

.change-avatar-input {
  opacity: 0;
  width: 0;
  height: 0;
}


/************************** RIGHT PANE **************************/






#right-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #1c7340;
  height: 100%;
}

.pane-heading {
  font-size: 2.2rem;
  color: #1c7340;
  letter-spacing: 0.05rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #1c7340;
}

#right-pane .overlay {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.7)
  );
}

.doctor-container {
  position: relative;
  width: 20rem;
  height: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 3rem;
  transition: all 0.2s ease-in-out;
}

.doctor-container:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.staff-picture,
.doctor-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.staff-name,
.doctor-name {
  font-size: 1.5rem;
  color: #e7fff1;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.staff-info-container,
.doctor-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 7%;
  width: 100%;
  height: 100%;
  padding-bottom: 1.1rem;
  padding-right: 2rem;
}

.staff-department,
.doctor-specialty {
  font-size: 1.5rem;
  color: #e7fff1;
  letter-spacing: 0.05rem;
  opacity: 0.8;
  font-weight: 300;
  margin-bottom: 0.8rem;
}

.staff-designation,
.doctor-degree {
  font-size: 1rem;
  color: #e7fff1;
  letter-spacing: 0.05rem;
  opacity: 0.8;
  font-weight: 300;
}
