#heading {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #1c7340;
  margin: 2rem 0;
  font-size: 2.5rem;
}

form {
  min-width: 35rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #eff5f2;
  padding: 5rem;
  margin-bottom: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.input-container-row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

label {
  padding-left: 0.1rem;
  font-size: 1.3rem;
}

.label-heading {
  font-size: 1.5rem;
  margin-bottom: 0.3rem !important;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

.text-field,
.text-area {
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 0.7rem;
}

.text-field:focus,
.text-area:focus {
  outline: 2px solid #1c7340;
}

.text-area {
  height: 5rem;
  resize: none;
  text-indent: 0;
  overflow: hidden;
  font-size: 1.5rem;
}

#label-container {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

#button-main {
  border: none;
  background-color: #1c7340;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  height: 4rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

#button-main:hover {
  cursor: pointer;
  background-color: #052b15;
}

.hidden-link {
  opacity: 0;
  width: 0;
  height: 0;
}


/* LOGIN */

#login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#login-logo {
  height: 8rem;
  margin-bottom: 5rem;
}

#sign-up-text,
#sign-up-text a {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.4rem;
}

/* Sign Up */

#signup-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#user-registration-form {
  min-width: 50rem;
}

.pro-pic-container {
  align-items: center;
}

#profile-picture {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 1rem;
  border: 3px solid #1c7340;
}

.small-button,
.small-button:active {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.3rem;
  text-decoration: none;
  background-color: #1c7340;
  color: #fff;
  width: 7rem;
  padding: 1rem 0;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.1s ease-in-out;
}

.change-avatar:hover,
.small-button:hover {
  background-color: #7f7f7f;
  color: #fff;
}

.change-avatar-input {
  opacity: 0;
  width: 0;
  height: 0;
}
#signature-canvas {
  width: 100%;
  height: 15rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  display: block;
  touch-action: none;
  background-color: white;
}

#clear-canvas {
  width: 5rem;
  padding: 0.5rem 0;
  border: none;
  background-color: #afafaf;
  width: 5rem;
  align-self: flex-end;
}

#clear-canvas:hover {
  cursor: pointer;
  background-color: #7f7f7f;
}

#terms:focus {
  outline: 1px solid #1c7340;
}

/* Verify Email */

#resend-code {
  all: unset;
  cursor: pointer; 
  width: 5rem;
  color: blue;
  font-size: 1.2rem;
}

/* Medical History */

.medical-history-heading {
  margin-bottom: 0.5rem;
}

.activity-level-container,
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.4rem;
}

#patient-medical-history-others,
#family-medical-history-others {
  margin-left: 2rem;
  height: 2rem;
  width: 30rem;
}
